<a href="https://colab.research.google.com/github/Souzadfs/Comandos-SQL/blob/main/Comandos_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Comando **Join**

In [ ]:
SELECT primeiro_nome, ultimo_nome,
pessoas.sigla_estado, nome_estado
FROM pessoas
INNER JOIN estados
ON pessoas.sigla_estado = estados.sigla_estado

# Comando utilizando **Right Join**

In [ ]:
SELECT *
FROM pessoas
RIGHT JOIN estados
ON pessoas.sigla_estado = estados.sigla_estado

Comando utilizando **Left Join**

In [ ]:
SELECT *
FROM pessoas
LEFT JOIN estados
ON pessoas.sigla_estado = estados.sigla_estado

Registro de Agrupamento

In [ ]:
SELECT primeiro_nome,sigla_estado,
count(*)
FROM pessoas
GROUP BY primeiro_nome, sigla_estado

MÃ‰DIA

In [ ]:
SELECT sigla_estado, AVG(qte_pontos)
FROM pessoas
GROUP BY sigla_estado

In [ ]:
SELECT sigla_estado, max(qte_pontos)
FROM pessoas
GROUP BY sigla_estado

In [ ]:
SELECT sigla_estado, MIN(qte_pontos)
FROM pessoas
GROUP BY sigla_estado

In [ ]:
SELECT qte_pontos + 10
FROM pessoas
WHERE qte_pontos > 70

In [ ]:
SELECT primeiro_nome, ultimo_nome, qte_pontos
FROM pessoas
WHERE qte_pontos >=
(SELECT MAX(qte_pontos)
FROM pessoas)

In [ ]:
SELECT lower(primeiro_nome), upper(ultimo_nome)
FROM pessoas

In [ ]:
SELECT lower(primeiro_nome), substr(ultimo_nome,-2)
FROM pessoas

In [ ]:
SELECT lower(primeiro_nome), replace(ultimo_nome, 'a', '%%')
FROM pessoas